# BTT SB2240 V1.0 RP2040
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="btt-sb-2240-10-rp", ACTION=="add", SYMLINK+="btt-sb-2240-10-rp", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"

ACTION=="remove", ENV{DEVLINKS}=="/dev/btt-sb-2240-10-rp"
