# BTT SKR 2 w/ STM32F429
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="btt-skr-2-429", ACTION=="add", SYMLINK+="btt-skr-2-429", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"

ACTION=="remove", ENV{DEVLINKS}=="/dev/btt-skr-2-429"
