# Prusa Buddy w/ STM32F407
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="prusa-buddy", ACTION=="add", SYMLINK+="prusa-buddy", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"

ACTION=="remove", ENV{DEVLINKS}=="/dev/prusa-buddy"
