# Fysetc Spider v1.1
## pass device name to bash script or edit make-and-flash-mcu.sh to look for the device name? The latter might be easier if you want to trigger via fluidd
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="fysetc-spider", ACTION=="add", SYMLINK+="fysetc-spider", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"

## need to handle remove for different device names
ACTION=="remove", ENV{DEVLINKS}=="/dev/fysetc-spider"
