# BTT Octopus Pro w/ STM32H723
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="btt-octopus-pro-h723", ACTION=="add", SYMLINK+="btt-octopus-pro-h723", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"

ACTION=="remove", ENV{DEVLINKS}=="/dev/btt-octopus-pro-h723"
