# BTT Manta M5P w/ STM32G0B1
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="btt-manta-m5p", ACTION=="add", SYMLINK+="btt-manta-m5p", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"

ACTION=="remove", ENV{DEVLINKS}=="/dev/btt-manta-m5p"
