# Fysetc Spider v2.2
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="fysetc-spider-22", ACTION=="add", SYMLINK+="fysetc-spider-22", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"

ACTION=="remove", ENV{DEVLINKS}=="/dev/fysetc-spider-22"
