# BTT SB2209 V1.0 STM32
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="btt-sb-2209-10-stm", ACTION=="add", SYMLINK+="btt-sb-2209-10-stm", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"

