# Ldo leviathan version 1.2 w/ STM32F446
SUBSYSTEMS=="usb", ATTRS{idProduct}=="6177",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="ldo-leviathan-12", ACTION=="add", SYMLINK+="ldo-leviathan-12", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"
