# BTT Manta M4P w/ STM32G0B1
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="btt-manta-m4p", ACTION=="add", SYMLINK+="btt-manta-m4p", RUN+="/home/pi/klipper_config/config/scripts/klipper-mcu-added.sh"

ACTION=="remove", ENV{DEVLINKS}=="/dev/btt-manta-m4p"
