# BTT EBB36 v1.0
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="btt-ebb36-10", ACTION=="add", SYMLINK+="btt-ebb36-10", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"

ACTION=="remove", ENV{DEVLINKS}=="/dev/btt-ebb36-10"
