# Mellow FLY-SHT 42
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="mellow-fly-sht-36", ACTION=="add", SYMLINK+="mellow-fly-sht-36", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"

ACTION=="remove", ENV{DEVLINKS}=="/dev/mellow-fly-sht-36"
