[gcode_macro _START_PRINT_PARK]
gcode:
	{% if printer["dual_carriage"] is defined %}
		# IDEX
		{% if printer["gcode_macro RatOS"].start_print_park_x is defined and printer["gcode_macro RatOS"].start_print_park_x != '' %}
			RATOS_ECHO PREFIX="WARNING" MSG="start_print_park_x is ignored for IDEX printers"
		{% endif %}
		PARK_TOOLHEAD
		G90
	{% endif %}
	{% set z = printer["gcode_macro RatOS"].start_print_park_z_height|float %}
	{% set z_speed = printer["gcode_macro RatOS"].macro_z_speed|float * 60 %}
	_PARK LOCATION={printer["gcode_macro RatOS"].start_print_park_in} X={printer["gcode_macro RatOS"].start_print_park_x}
	G0 Z{z} F{z_speed}

[gcode_macro _END_PRINT_PARK]
gcode:
	{% if printer["dual_carriage"] is defined %}
		# IDEX
		{% if printer["gcode_macro RatOS"].end_print_park_x is defined and printer["gcode_macro RatOS"].end_print_park_x != '' %}
			RATOS_ECHO PREFIX="WARNING" MSG="end_print_park_x is ignored for IDEX printers"
		{% endif %}
		{% set default_toolhead = printer["gcode_macro RatOS"].default_toolhead|default(0)|int %}
		_IDEX_SINGLE X={printer["gcode_macro RatOS"].parking_position[default_toolhead]}
		PARK_TOOLHEAD
		G90
	{% endif %}
	_PARK LOCATION={printer["gcode_macro RatOS"].end_print_park_in} X={printer["gcode_macro RatOS"].end_print_park_x}

[gcode_macro _PARK]
gcode:
	CACHE_TOOLHEAD_SETTINGS
	SET_MACRO_TRAVEL_SETTINGS
	{% set speed = printer["gcode_macro RatOS"].macro_travel_speed|float * 60 %}
	# Get X position
	{% if params.X != '' %}
		{% if params.X|float >= printer.toolhead.axis_minimum.x + 5 and params.X|float <= printer.toolhead.axis_maximum.x - 5 %}
			{% set safe_x = params.X|float %}
		{% else %}
			{action_respond_info('The requested X co-ordinate is outside the defined axis bounds - using defaults')}
			{% set safe_x = printer["gcode_macro RatOS"].printable_x_max / 2 %}
		{% endif %}
	{% else %}
		{% set safe_x = printer["gcode_macro RatOS"].printable_x_max / 2 %}
	{% endif %}
	# Get Y position
	{% if params.LOCATION|default('back')|lower == 'back' %}
		{% set y = printer.toolhead.axis_maximum.y - 5 %}
	{% elif params.LOCATION|lower == 'front' %}
		{% set y = printer.toolhead.axis_minimum.y + 5 %}
	{% elif params.LOCATION|lower == 'center' %}
		{% set y = printer["gcode_macro RatOS"].printable_y_max / 2 %}
	{% endif %}
	# Absolute positioning
	G90 
	# Park
	{% if printer["dual_carriage"] is not defined %}
		# COREXY - HYBRID
		G0 X{safe_x} Y{y} F{speed} 
	{% else %}
    	# IDEX
		G0 Y{y} F{speed} 
	{% endif %}
	RESTORE_TOOLHEAD_SETTINGS
